<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{"/" | relative_url }}">{{ site.nav_title | escape }}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        {% comment %} <li class="nav-item">
          <a class="nav-link" href="{{"/" | relative_url }}">Home</a>
        </li> {% endcomment %}
        <li class="nav-item">
          <a class="nav-link" href="{{"/resources" | relative_url }}">Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/python" | relative_url }}">Python</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/cloud" | relative_url }}">Cloud</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/datascience" | relative_url }}">Data Science</a>
        </li>
        {% comment %} <li class="nav-item">
          <a class="nav-link" href="{{"/mobile" | relative_url }}">Mobile</a>
        </li> {% endcomment %}
        {% comment %} <li class="nav-item">
          <a class="nav-link" href="{{ "/posts" | relative_url }}">Blogs</a>
        </li> {% endcomment %}
        <li class="nav-item">
          <a class="nav-link" href="{{"/blockchain" | relative_url }}">Blockchain</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/frontend" | relative_url }}">Frontend</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/contact" | relative_url }}">Feature</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
