---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ page.title }}</h1>
            {% if page.description %}
            <span class="subheading">{{ page.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
    <div class="col-md-8" markdown="1">
     <b>Beginner Friendly Repositories</b>
    <br>
    <br>
    <li><a href="https://github.com/wger-project/wger">Vwger Workout Manager</a></li>
    <br>
    <li><a href="https://getnikola.com/">Nikola </a></li>
    <br>
    <li><a href="https://sklearn-genetic-opt.readthedocs.io/en/latest/">sklean-genetic-opt </a></li>
    <br>
    <li><a href="https://www.covidsos.net/website/home.html">covidx </a></li>
    <br>
    <li><a href="https://github.com/oppia/oppia">Oppia</a></li>
    <br>
  </div>
  <div class="col-md-4" markdown="1">
    <b>Events to check out </b>
    <br>
    <br>
    <img src = "{{site.baseurl}}/img/event.png" width="300" height="300">
    </div>
    </div>
  </div>
